<form [formGroup]="testForm" (ngSubmit)="SaveFun()">
  <div>
    <label>Name : </label>
    <input type="text" formControlName="name" />
  </div>
  <div style="color:red">
    <div
      *ngIf="
        testForm.controls['name']?.errors?.['required'] &&
        testForm.controls['name']?.invalid &&
        formsubmit
      "
    >
      Name is required
    </div>
    <div *ngIf="testForm.controls['name'].errors?.['pattern']">
      Enter characters only
    </div>
  </div>

  <div style="margin-top:1rem">
    <label>Phone No : </label>
    <input type="tel" formControlName="phone" maxlength="10" />
  </div>
  <div style="color:red">
    <div
      *ngIf="
      testForm.controls['phone']?.errors?.['required'] &&
      testForm.controls['phone']?.invalid &&
        formsubmit
      "
    >
      Phone is required
    </div>
    <div *ngIf="testForm.controls['phone']?.errors?.['maxlength']">
      Phone should be 10 digit
    </div>
    <div *ngIf="testForm.controls['phone']?.errors?.['pattern']">
      Enter numbers only
    </div>
  </div>

  <div style="margin-top:1rem">
    <label>Email : </label>
    <input type="email" formControlName="email" />
  </div>
  <div style="color:red">
    <div
      *ngIf="testForm.controls['email']?.errors?.['required'] &&
    testForm.controls['email']?.invalid && formsubmit"
    >
      Email is required
    </div>
    <div *ngIf="testForm.controls['email']?.errors?.['pattern']">
      Invalid email
    </div>
  </div>

  <div style="margin-top:1rem">
    <label>Group : </label>
    <select formControlName="group">
      <option value="" disabled>select group</option>
      <option value="1">IT</option>
      <option value="2">NoNIT</option>
    </select>
  </div>
  <div style="color:red">
    <div
      *ngIf="testForm.controls['group']?.errors?.['required'] &&
    testForm.controls['group']?.invalid && formsubmit"
    >
      Grop is required
    </div>
  </div>

  <div style="margin-top:1rem">
    <label>City : </label>
    <input type="radio" formControlName="city" value="rjy" />Rjy
    <input type="radio" formControlName="city" value="vzg" />Vizag
    <input type="radio" formControlName="city" value="hyd" />Hyd
  </div>
  <div style="color:red">
    <div
      *ngIf="testForm.controls['city']?.errors?.['required'] &&
    testForm.controls['city']?.invalid && formsubmit"
    >
      City is required
    </div>
  </div>

  <div style="margin-top:1rem">
    <input type="checkbox" formControlName="check" value="y" />Active
  </div>
  <div style="color:red">
    <div
      *ngIf="testForm.controls['check']?.errors?.['required'] &&
    testForm.controls['check']?.invalid && formsubmit"
    >
      Accept Terms&Conditions
    </div>
  </div>

  <div style="margin-top:1rem">
    <button type="submit" style="background-color:green;color:white">
      Save
    </button>
  </div>
</form>
